.mainBlock{
    background-image: linear-gradient(to bottom right, red, yellow);
    justify-content: center;
    width: 100vw;
    height:  100vh;
    padding-top: 30px;
}
.Text{
    background-color: white;
    border-radius: 10%;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    padding: 15px;
}
.Welcome{
    color:rgb(19, 10, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title-link{
    text-align: center;
}
.title{
    font-size: 35px;
    text-align: center;
}
.secondMainBlock{
    background-image: linear-gradient(to bottom right, red, yellow);
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
    justify-content: center;
    display: block;
}
.PlayerBars{
    display: flex;
    justify-content: center;
    column-gap: 250px;
    height: 400px;
    padding: 15px;
}
.Player1{
    background-color: white;
    width: 250px;
    height: 400px;
    font-size: 30px;
    border-radius: 10%;
    justify-content: center;
}
.Player2{
    background-color: white;
    width: 250px;
    height: 400px;
    font-size: 30px;
    border-radius: 10%;
    justify-content: center;
}
.sus1{
    text-align: center;
}
.sus2{
    text-align: center;
}
.sus3{
    text-align: center;
}
.sus4{
    text-align: center;
}
.Buttons{
    display: block;
    justify-content: center;
    padding-left: 650px;
}
.giveUp{
    border-radius: 10%;
    width: 150px;
    height: 75px;
    background-color: white;
}
.Stop{
    border-radius: 10%;
    width: 150px;
    height: 75px;
    background-color: white;
}
.endGame{
    border-radius: 10%;
    width: 150px;
    height: 75px;
    background-color: white;
}
.Controls{
    justify-content: center;
    padding-top: 100px;
}
.giveUpt{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    justify-content: center;
    font-size: 25px;
}
.Stopt{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    justify-content: center;
    font-size: 25px;
}
.endGamet{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    justify-content: center;
    font-size: 25px;
}


